<h1>Acerca de mi web de Astro</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, rem. Omnis pariatur id similique temporibus fuga. Recusandae consequuntur, mollitia, repellat, quibusdam iste alias vitae magnam consequatur cum odio maxime quidem!</p>