---
import Card from '../components/card.astro'
import Layout from '../components/layout.astro';
---

<Layout titlePage="Quienes somos" descriptionPage="Web de Luis">
    <h1>Acerca de mi web de Astro</h1>
<h3>Quienes somos</h3>

<Card nombre="Luis" profesion="Ingeniero"/>
<Card nombre="Pepe" profesion="Militar"/>
<Card/>
</Layout>